<?xml version="1.0"?>
<model>
  <name>gokdogan_iris_cam</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author><name>GOKDOGAN Team</name></author>
  <description>iris_with_ardupilot + burun kamerası (görsel-servo). Kanıtlanmış uçan platform;
  sabit-kanat (zephyr/Talon) hazır olana dek kamera taşıyıcı.</description>
</model>
